@model house.ViewModels.House.ShowViewModel
@{
    ViewBag.Title = "House Details";
}
<h3>House.Show</h3>

<p>@Model.House.Id</p>
<p>@Model.House.Zip</p>
<p>@Model.House.Address</p>

<a asp-route="House.Edit" asp-route-id="@Model.House.Id">Edit</a><br />
<a asp-route="House.Delete" asp-route-id="@Model.House.Id">Delete</a>
